@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgb(68, 55, 66);
  display: grid;
  justify-content: center;
  align-content: center;
}

.card {
  background-color: rgb(132, 108, 91);
  width: 20rem;
  height: 50rem;
}

.card li {
  list-style-type: upper-alpha;
}
